fastapi
uvicorn
langchain
langchain-community
langchain-groq
fastembed
faiss-cpu
python-dotenv
requests
beautifulsoup4
pandas
scikit-learn
joblib

# Optional document loaders and utilities
python-docx
python-pptx
pypdf
openai
openpyxl
